apiVersion: v1
kind: Service
metadata:
  name: minecraft-ppz-service
spec:
  selector:
    app: minecraft-ppz
  type: NodePort
  ports:
    - name: tcp-31777
      nodePort: 31777
      port: 25565
      targetPort: 25565
      protocol: TCP