apiVersion: v1
kind: Service
metadata:
  name: minecraft-ppz-service
spec:
  selector:
    app: minecraft-ppz
  type: NodePort
  ports:
    - name: tcp-25033
      nodePort: 32588
      port: 25033
      targetPort: 25033
      protocol: TCP